.icon-01_green { background-image: url(png/01_green.png); background-repeat: no-repeat; }

.icon-01_grey { background-image: url(png/01_grey.png); background-repeat: no-repeat; }

.icon-02_green { background-image: url(png/02_green.png); background-repeat: no-repeat; }

.icon-02_grey { background-image: url(png/02_grey.png); background-repeat: no-repeat; }

.icon-03_green { background-image: url(png/03_green.png); background-repeat: no-repeat; }

.icon-03_grey { background-image: url(png/03_grey.png); background-repeat: no-repeat; }

.icon-04_green { background-image: url(png/04_green.png); background-repeat: no-repeat; }

.icon-04_grey { background-image: url(png/04_grey.png); background-repeat: no-repeat; }

.icon-05_green { background-image: url(png/05_green.png); background-repeat: no-repeat; }

.icon-05_grey { background-image: url(png/05_grey.png); background-repeat: no-repeat; }

.icon-06_green { background-image: url(png/06_green.png); background-repeat: no-repeat; }

.icon-06_grey { background-image: url(png/06_grey.png); background-repeat: no-repeat; }

.icon-07_green { background-image: url(png/07_green.png); background-repeat: no-repeat; }

.icon-07_grey { background-image: url(png/07_grey.png); background-repeat: no-repeat; }

.icon-08_green { background-image: url(png/08_green.png); background-repeat: no-repeat; }

.icon-08_grey { background-image: url(png/08_grey.png); background-repeat: no-repeat; }

.icon-arrow_green { background-image: url(png/arrow_green.png); background-repeat: no-repeat; }

.icon-arrow_grey { background-image: url(png/arrow_grey.png); background-repeat: no-repeat; }

.icon-BTC_logo { background-image: url(png/BTC_logo.png); background-repeat: no-repeat; }

.icon-btc_mark { background-image: url(png/btc_mark.png); background-repeat: no-repeat; }

.icon-down_arrow { background-image: url(png/down_arrow.png); background-repeat: no-repeat; }

.icon-email { background-image: url(png/email.png); background-repeat: no-repeat; }

.icon-email_green { background-image: url(png/email_green.png); background-repeat: no-repeat; }

.icon-facebook { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon-graph_icon { background-image: url(png/graph_icon.png); background-repeat: no-repeat; }

.icon-green_arrow--left { background-image: url(png/green_arrow--left.png); background-repeat: no-repeat; }

.icon-green_arrow { background-image: url(png/green_arrow.png); background-repeat: no-repeat; }

.icon-mobile_close { background-image: url(png/mobile_close.png); background-repeat: no-repeat; }

.icon-mobile_menu { background-image: url(png/mobile_menu.png); background-repeat: no-repeat; }

.icon-reddit { background-image: url(png/reddit.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(png/twitter.png); background-repeat: no-repeat; }

.icon-up_arrow { background-image: url(png/up_arrow.png); background-repeat: no-repeat; }

.icon-white_arrow { background-image: url(png/white_arrow.png); background-repeat: no-repeat; }

.icon-white_arrow_up { background-image: url(png/white_arrow_up.png); background-repeat: no-repeat; }